<div class="row" th:fragment="content">
		
	<div class="col-lg-12">
	
		<form action="#" th:action="@{/folder/search}" th:object="${folderPath}" method="post">
			<div class="list" th:unless="${#lists.isEmpty(allAPIObjects)}">
	   
	     	<h2>List of API</h2>
	
			<table>
		    	<thead>
		        	<tr>
			            <th>Name</th>
			            <th>Customer Key</th>
			            <th>Type</th>
		          	</tr>
		        </thead>
		        <tbody>
		          	<tr th:each="fd : ${allAPIObjects}">
		            	<td th:text="${fd.name}">bunch</td>
		            	<td th:text="${fd.customerKey}">Customer Key</td>
		            	<td th:text="${fd.objectType}">Customer Key</td>
		          	</tr>
		        </tbody>
			</table>
	      
	    </div>
		
		<div class="submit">
        	<button type="submit" name="save">Clone UAT To PROD</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        	<button type="submit" name="clearQueue">Clear Queue</button>
        </div>
		</form>


		<div>
			<h2>Add new dynamic</h2>
		</div>
		
		<form action="#" th:action="@{/folder/search}" th:object="${folderPath}" method="post">
			<fieldset>
         		<legend>Folder Path</legend>

         		<ul th:if="${#fields.hasErrors('*')}" class="errorlist">
           			<li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
         		</ul>
         		
          		<div>
	            	<label for="bunchName">
	              		<span>Package Name</span>
	            	</label>
	            	<input type="text" th:field="*{bunchName}" th:class="${#fields.hasErrors('bunchName')}? fieldError" required="required" />
	          	</div>
	          	
	          	<div>
	           		<label>Path</label>
	           		<table>
	             			<thead>
		               			<tr>
		                 				<th>Row</th>
		                 				<th>Path</th>
		                 				<th>
		                   					<button type="submit" name="addPath">Add Path</button>
		                 				</th>
		               			</tr>
	             			</thead>
	             			<tbody>
	               				<tr th:each="nv,nvStat : *{keys}">
	                 				<td th:text="${nvStat.count}">1</td>
	                 				<td>
									  	<input type="text" 
				                           th:field="*{keys[__${nvStat.index}__]}" 
				                           th:class="${#fields.hasErrors('keys[__${nvStat.index}__]')}? 'fieldError'"/>
									</td>
	                 				
									<td>
										<button type="submit" name="removePath" th:value="${nvStat.index}">Remove Path</button>
									</td>
	               				</tr>
	             			</tbody>
	           		</table>
				</div>
	   
		        <div class="submit">
		        	<button type="submit" name="search">Search</button>
		        </div>
			</fieldset>
		</form>
		
	
	</div>	
		

	
</div>